<header>
  <!-- Nav Bar -->
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
    
    <div class="container">
      <a class="navbar-brand title font-weight-lighter mr-auto" href="{{ site.baseurl | prepend: site.url }}/"><img src="{{ '/assets/img/logo-260x50.png' | relative_url }}" title="{{ site.title }}" width="260px" height="50px" /></a>
      {% if site.show_social_icons %}
        <!-- Social Icons -->
        <div id="socialIcons">
          {% include social.html %}
        </div>
      {% endif %}
    </div>
  </nav>

</header>
