<h2>スタッフ</h2>
<div class="row organizers">
  {% for organizer in site.data.staff.Organizers %}
    <div class="col organizer-profile">
      <a href="{{ organizer.url }}" target="_blank"><img class="card-img-top" src="{{ organizer.image | prepend: '/assets/img/' | relative_url }}" alt="{{ organizer.name }} プロフィール画像" /></a>
      <div class="organizer-info">
        <p>
          <a href="{{ organizer.url }}" target="_blank">{{ organizer.name }}</a><br>
          <span class="organizer-profile-affiliation">{{ organizer.affiliation }}</span><br>
        </p>
      </div>
    </div>
  {% endfor %}
</div>
