<div class="schedule">
  <h1>スケジュール</h1>
  月に1-2回、日本時間水曜正午より開催します。<br>
  共有カレンダー: <a href="https://calendar.google.com/calendar/embed?src=818a8a14a609049b5a647a7a35bc1a83aa7956cfa1de2e38a8586759e7ad67f2%40group.calendar.google.com&ctz=Asia%2FTokyo">[Web]</a> <a href="https://calendar.google.com/calendar/ical/818a8a14a609049b5a647a7a35bc1a83aa7956cfa1de2e38a8586759e7ad67f2%40group.calendar.google.com/public/basic.ics">[iCal]</a>
  <div class="table-responsive">
    <table id="scheduleTable" class="table table-sm table-borderless">
      <thead>
        <tr><th style="width: 20%;">日時</th><th style="width: 30%;">スピーカー</th><th style="width: 50%;">トピック</th></tr>
      </thead>
      <tbody>
        {% for item in site.schedule reversed %}
          {% if item.display %}
            <tr>
              <th scope="row">
                {% if item.date_tba %}
                  日時未定
                {% else %}
                  {% if item.date_em %}<b class="date-em">{% endif %}
                  {{ item.date | date: "%Y/%m/%d (%a)" }}
                  {% if item.date_em %}</b>{% endif %}
                  {% if item.time_tba %}
                    [開始時間未定]
                  {% else %}
                    {% if item.time_em %}<b class="time-em">{% endif %}
                    {{ item.date | date: "%H:%M (%Z)" }}
                    {% if item.time_em %}</b>{% endif %}
                  {% endif %}
                {% endif %}
              </th>
              <td>
                {% if item.website %}<a href="{{ item.website }}" target="_blank">{% endif %}
                {{ item.name | remove: '<p>' | remove: '</p>' | emojify }}
                {% if item.website %}</a>{% endif %}<br>
                {% if item.affiliation %}({{ item.affiliation }}){% endif %}
              </td>
              <td class="talk-info">
                {% if item.topic %}
                  {{ item.topic }}<br>
                  {% if item.inline %}
                    {% if item.abstract %}
                       <a data-toggle="collapse" href="#abstract-{{ forloop.index }}" aria-expanded="false" aria-controls="abstract-{{ forloop.index }}">[概要]</a>
                      <div id="abstract-{{ forloop.index }}" class="collapse">
                        <p class="abstract">{{ item.abstract }}</p>
                      </div>
                    {% endif %}
                  {% else %}
                    <a class="schedule-title" href="{{ item.url | relative_url }}">[概要]</a>
                  {% endif %}
                  {% if item.content %}
                    {{ item.content }}
                  {% endif %}
                {% else %}
                  TBA
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
