<div class="schedule">
  <h1>スケジュール</h1>
  月に1-2回、日本時間水曜正午より開催します。<br>
  <div class="table-responsive">
    <table id="scheduleTable" class="table table-sm table-borderless">
      <thead>
        <tr><th style="width: 5%; text-align: right;">#</th><th style="width: 20%;">日時</th><th style="width: 30%;">スピーカー</th><th style="width: 45%;">トピック</th></tr>
      </thead>
      <tbody>
        {% for item in site.schedule reversed %}
          {% if site.enable_folding_table and (forloop.index > site.initial_visible_rows) %}
            {% assign row_class = "hidden-row" %}
          {% else %}
            {% assign row_class = "visible-row" %}
          {% endif %}
          {% if item.display %}
            <tr class="{{ row_class }}">
              <th scope="row" style="text-align: right;">
                {{ forloop.rindex }}
              </th>
              <th scope="row">
                {% if item.date_tba %}
                  日時未定
                {% else %}
                  {% if item.date_em %}<b class="date-em">{% endif %}
                  {{ item.date | date: "%Y/%m/%d (%a)" }}
                  {% if item.date_em %}</b>{% endif %}
                  {% if item.time_tba %}
                    [開始時間未定]
                  {% else %}
                    {% if item.time_em %}<b class="time-em">{% endif %}
                    {% if item.time_end %}
                      {{ item.date | date: "%H:%M" }}&ndash;{{ item.time_end | date: "%H:%M (%Z)" }}
                    {% else %}
                      {{ item.date | date: "%H:%M (%Z)" }}
                    {% endif %}
                    {% if item.time_em %}</b>{% endif %}
                  {% endif %}
                {% endif %}
                {% if item.date_comment %}
                   <br>{{ item.date_comment }}
                {% endif %}
              </th>
              <td>
                {% if item.website %}<a href="{{ item.website }}" target="_blank">{% endif %}
                {{ item.name | remove: '<p>' | remove: '</p>' | emojify }}
                {% if item.name_en %} / {{ item.name_en | remove: '<p>' | remove: '</p>' | emojify }} {% endif %}
                {% if item.website %}</a>{% endif %}<br>
                {% if item.affiliation %}({{ item.affiliation }}){% endif %}
              </td>
              <td class="talk-info">
                {% if item.topic %}
                  {{ item.topic }}<br>
                  {% if item.inline %}
                    {% if item.abstract %}
                       <a data-toggle="collapse" href="#abstract-{{ forloop.index }}" aria-expanded="false" aria-controls="abstract-{{ forloop.index }}">[概要]</a>
                      <div id="abstract-{{ forloop.index }}" class="collapse">
                        <p class="abstract">{{ item.abstract }}</p>
                      </div>
                    {% endif %}
                  {% else %}
                    <a class="schedule-title" href="{{ item.url | relative_url }}">[概要]</a>
                  {% endif %}
                  {% if item.content %}
                    {{ item.content }}
                  {% endif %}
                {% else %}
                  TBA
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        {% if site.enable_folding_table and (site.schedule.size > site.initial_visible_rows) %}
        <tr class="expand-button-row" style="display: none;">
          <td colspan="4" align="center">
            <button class="btn btn-outline-danger" id="show-more-btn" role="button">すべて表示</a>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    
    {% if site.enable_folding_table %}
      <script src="{{ '/assets/js/fold_table.js' | relative_url }}"></script>
    {% endif %}
  </div>
</div>
