/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

/******************************************************************************
 * Top
 ******************************************************************************/

.img-contents {
    width: 100%;
    max-width: $max-content-width;
}

table#scheduleTable {
    .date-em {
        text-decoration: underline;
    }
    .time-em {
        text-decoration: underline;
    }
    .talk-info {
        p {
            display: inline;
        }

        p.abstract {
            display: block !important;
            padding: 1rem;
        }
    }
}

// Sponsors
.sponsors {
  margin-top: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}
.sponsor-col{
  padding: 5px;
}
.sponsor-info {
  display: none;
}

.bd-callout {
  padding: 10px 20px;
  margin: 30px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bd-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bd-callout p:last-child {
  margin-bottom: 0;
}
.bd-callout code {
  border-radius: 3px;
}
.bd-callout+.bs-callout {
  margin-top: -5px;
}
.bd-callout-default {
  border-left-color: #777;
}
.bd-callout-default h4 {
  color: #777;
}
.bd-callout-primary {
  border-left-color: #428bca;
}
.bd-callout-primary h4 {
  color: #428bca;
}
.bd-callout-success {
  border-left-color: #5cb85c;
}
.bd-callout-success h4 {
  color: #5cb85c;
}
.bd-callout-danger {
  border-left-color: #d9534f;
}
.bd-callout-danger h4 {
  color: #d9534f;
}
.bd-callout-warning {
  border-left-color: #f0ad4e;
}
.bd-callout-warning h4 {
  color: #f0ad4e;
}
.bd-callout-info {
  border-left-color: #5bc0de;
}
.bd-callout-info h4 {
  color: #5bc0de;
}
.bd-callout-themecolor {
  border-left-color: var(--global-theme-color);
}
.bd-callout-themecolor h4 {
  color: var(--global-theme-color);
}