
.organizers {
    padding: 0 0 0 1%;
}

%organizer-profile {
    margin-bottom: 2%;
    text-align: center;

    @media screen and (min-width: 676px) {
        max-height: 130px;
    }

    img {
        display: inline-block;
        border-radius: 50%;
        object-fit: cover;
        height: 100px;
        width: 100px;
        margin-right: 10px;
    }

    div.organizer-info {
        margin-top: 2%;
        min-width: 100px;
        vertical-align: middle;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.organizer-profile {
    @extend %organizer-profile;
}
